h1{
    font-size: 35px;
    text-align: center;
}

.sections{
   display: flex; 
   padding-top: 20px;

    .section{
        width: (100% / 3);

        h3{
            font-size: 17px;
        }
        
        h5{
            font-size: 14px;
        }
        
        i{
            padding-right: 10px;
        }
    }
}