h2{
    font-size: 35px;
    text-align: center;
    color: #0a66c2;
}

.sections{
    margin-top: 10px;
    padding-top: 10px;
    text-align: center;

    .section{
        width: 80%;
        margin: auto;
        background-color: white;
        padding: 20px 20px;
        margin-bottom: 50px;
        border-radius: 10px;
        box-shadow: 1px 1px 10px 1px rgb(184, 184, 184);

        .row{
            border-bottom: 1px solid rgb(211, 211, 211);
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80%;
            margin: auto;
            padding: 10px;

            h3{
                font-size: 22px;
                font-weight: 600;
                margin: 0;
            }
            
            h5{
                font-size: 18px;
                margin: 0;
    
                &:hover{
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }
        
        i{
            padding: 10px;
            &:hover{
                color: #0a66c2;
                cursor: pointer;
            }
        }
    }
}