h2{
    font-size: 35px;
    text-align: center;
    color: #0a66c2;
}

.sections{
    margin-top: 20px;
    display: flex; 
    padding-top: 20px;
    text-align: center;

    .section{

        h3{
            font-size: 17px;
            font-weight: 600;
        }
        
        h5{
            font-size: 14px;

            &:hover{
                cursor: pointer;
                text-decoration: underline;
            }
        }
        
        i{
            padding-bottom: 10px;
            display: block;

            &:hover{
                color: #0a66c2;
                cursor: pointer;
            }
        }
    }
}