.container_news{

    .news{
        background-color: white;
        border-radius: 10px;
        margin-left: 20px;
        padding: 20px 0 1px 0;
        box-shadow: 1px 1px 10px 1px rgb(184, 184, 184);
    
        h3{
            padding-left: 20px;
        }
        ul{
            list-style: none;
    
            div{
                padding: 10px 20px;
                li{
                    font-weight: 600;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap; 
                    }
                span{
                    padding-left: 20px;
                }
                &:hover{
                    background-color: rgb(231, 231, 231);
                }
            }
        }
    }
}